Django==5.2.17
djangorestframework==3.16.1
django-cors-headers==4.9.0
python-dotenv==1.2.2
requests==2.34.2
numpy==2.4.4
google-genai==2.26.0
pdfplumber==0.11.9
Pillow==12.2.0
pypdfium2==5.9.0
psycopg2-binary==2.9.11
channels==4.3.2
channels-redis==4.3.0
daphne==4.2.1
pytz==2026.1.post1
